  <table>
    <!-- Column Titles --> 
    <tr>
      {{#each metaData}}
        <th>
          {{this}}
        </th>
      {{/each}}
    </tr>

    <!-- Rows -->
    {{#each docs}}
      <tr class="contents">
        <td class="cId">
          {{this._doc.commentId}}
        </td>
        <td>
          {{this._doc.nickname}}
        </td>
        <td>
          {{this._doc.content}}
        </td>
        <td>
          {{this._doc.rate}}
        </td>
        <td class="updated">
          {{this._doc.updated}}
        </td>
        <td>
          <a href="./{{this._doc.productId}}">
            {{this._doc.title}}
          </a>
        </td>
      </tr>
    {{/each}}
  </table>