  <table>
    <!-- Column Titles --> 
    <tr>
      {{#each metaData}}
        <th>
          {{this}}
        </th>
      {{/each}}
    </tr>

    <!-- Rows -->
    {{#each docs}}
      <tr class="contents">
        <td class="imgrow">
          <a href="{{this._doc.url}}">
            <img class="timg"src="{{this._doc.img}}"/>
          </a>
        </td>
        <td>
          {{this._doc.commentId}}
        </td>
        <td>
          {{this._doc.nickname}}
        </td>
        <td>
          {{this._doc.content}}
        </td>
        <td>
          {{this._doc.rate}}
        </td>
        <td>
          {{this._doc.updated}}
        </td>
        <td>
          {{this._doc.productURL}}
        </td>
      </tr>
    {{/each}}
  </table>